<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype - Tecnologia al Instante</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
<div class="whats__contacto">
    <p>Nuestro Whatsapp de contacto: +543644448396 </p>
</div>
<nav>  
        <a href="../index.html">
        <img src="../img/logo_Mesa de trabajo 1.png" alt="logo de Hype Tecnologia al instante" class="img__logo--sm">
        </a>
        <ul>
            <li>
                <a href="../views/productos.html">Productos</a>
            </li>
            <li>
                <a href="../views/promociones.html">Promociones</a>
            </li>
            <li>
                <a href="../views/nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="../views/Contacto.html">Contacto</a>
            </li>
            <li>
                <a href="../index.html#envio">Envios</a>
            </li>
        </ul>
    </nav>
    <header>
    <h1 class="textCenter textBold bgLight">Nuestras formas de contacto</h1>
</header>
<article class="bgLight textCenter textLight formas__contacto">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, impedit! Et voluptatem quia fuga sapiente possimus ab aliquam ipsum? Quis incidunt assumenda tempore magni repellendus natus beatae, perferendis dolorum id.
    Soluta cumque quis fugiat quos consequuntur est eaque, exercitationem itaque quia voluptatum praesentium recusandae corporis officiis id magni impedit animi expedita amet cupiditate doloribus non quisquam labore eos culpa. Officia.
    Repellendus repellat iure reiciendis obcaecati est quam ratione, in distinctio sit reprehenderit at amet id fuga, libero veniam veritatis esse facilis labore? Nesciunt provident nostrum rem sequi. Praesentium, neque aperiam.</p>
</article>
    <img src="../img/contacto.jpg" alt="" class="img__principal--fluid">
    <h2 class="textCenter textBold bgLight">Escribinos tu duda en esta casilla de contacto</h2>
    <form action="" id="Contacto">
    <section class="bgLight textBold textCenter">
        <label for="mensaje">Deje su mensaje</label>
            <textarea name="" id="mensaje" cols="30" rows="10" ></textarea>
            <br>
            <input type="reset" value="Cancelar">
            <input type="submit" value="Enviar">
    </section>
    <section class="textCenter">
    <h2 class="textCenter textBold bgLight">Nuestro numero telefonico de contacto</h2>       
    <img src="../img/numerodecontacto.jpg" alt="">
    <h2 class="textCenter textBold bgLight">Encontranos en nuestra sucursal</h2>
    </section>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9885886575307!2d-58.44641108545277!3d-34.6044500650425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbe43fd266a9%3A0x22f8715d81c50857!2sAntezana%20247%20-%20%22La%20Mansi%C3%B3n%22%20YSY%20A%20-%20Duki%20-%20Neo%20Pistea!5e0!3m2!1ses!2sar!4v1653679000234!5m2!1ses!2sar" width="1600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</form>
    <br>
    <br>
    <h2 class="textCenter textBold bgLight">Nuestras redes sociales al pie de la pagina</h2>
    <footer>
        <section class="bgLight textCenter">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/face.png" alt="">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/ig.png" alt="">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twi.png" alt="">
        </a>
        </section>
    </footer>
</body>
</html>
