<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype - Tecnologia al Instante</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">
        <img src="../img/logo_Mesa de trabajo 1.png" alt="logo de Hype Tecnologia al instante" class="img__logo--sm">
        </a>
        <ul>
            <li>
                <a href="../views/productos.html">Productos</a>
            </li>
            <li>
                <a href="../views/promociones.html">Promociones</a>
            </li>
            <li>
                <a href="../views/nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="../views/Contacto.html">Contacto</a>
            </li>
            <li>
                <a href="../index.html#envio">Envios</a>
            </li>
        </ul>
    </nav>
    <h1 class="bgLight textCenter textBold">Te contamos sobre nosotros</h1>
    <img src="../img/socios_indiv.jpg" alt="" class="img__principal--fluid">
      <article class="bgLight textCenter text Regular formas__contacto">
    <p>Somos un pequeño grupo emprendedor que nos dedicamos a la importacion de productos tecnologicos, desde celulares, tablets y componentes de computadoras hasta electrodomesticos como Heladeras, frezeer, tostadoras, etc.
          Ya llevamos mas de 10 años en Capital Federal y ahora nos abrimos a todo el pais mediante nuestro sitio web.
      </p>
    </article>
      <footer>
        <div class="bgLight textCenter">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/face.png" alt="">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/ig.png" alt="">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twi.png" alt="">
        </a>
        </div>
    </footer>
    </body>
</html>