<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype - Tecnologia al instante</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <nav id="mainNav">
        <a href="../index.html">
        <img src="../img/logo_Mesa de trabajo 1.png" alt="logo de hype Tecnologia al instante" class="img__logo--sm">
        </a>
        <ul>
            <li>
                <a href="../views/productos.html">Productos</a>
            </li>
            <li>    
                <a href="../views/promociones.html">Promociones</a>
            </li>
            <li>
                <a href="../views/nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="../views/Contacto.html">Contacto</a>
            </li>
            <li>
                <a href="../index.html#envio">Envios</a>
            </li>
        </ul>
    </nav>
    <img src="../img/items.jpg" alt="" class="img__principal--fluid">
    <header id="header">
        <h1 class="bgLight textCenter">Productos disponibles en stock</h1>
    </header>
    <main id="productos">
        <section class="galeria" id="forms">
            <figure>
                <img src="../img/iphone.jpg" alt="" class="img__productos--md">
                <figcaption>I phone 13</figcaption>
                <p class="price">$150.000,00</p>
            </figure>
            <figure>
                <img src="../img/ipadair.jpg" alt="" class="img__productos--md">
                <figcaption>I pad Air</figcaption>
                <p class="price">$110.000,00</p>
            </figure>
            <figure>
                <img src="../img/mousel.jpg" alt="" class="img__productos--md">
                <figcaption>Mouse Logitec</figcaption>
                <p class="price">$4.999,99</p>
            </figure>
            <figure>
                <img src="../img/helade.jpg" alt="" class="img__productos--md">
                <figcaption>Heladera Standard Electric</figcaption>
                <p class="price">$69.999,99</p>
            </figure>
        </section>
        
    </main>
    <br>

    <footer id="footer">
        <div class="bgLight textCenter">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/face.png" alt="">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/ig.png" alt="">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twi.png" alt="">
        </a>
        </div>
        </footer>
</body>
</html>