<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype - Tecnologia al instante</title>
    <link rel="shortcut icon" href="../img/logo_Mesa de trabajo 1.png">
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">
        <img src="../img/logo_Mesa de trabajo 1.png" alt="logo de hype Tecnologia al instante" class="img__logo--sm">
        </a>
        <ul>
            <li>
                <a href="../views/productos.html">Productos</a>
            </li>
            <li>
                <a href="../views/promociones.html">Promociones</a>
            </li>
            <li>
                <a href="../views/nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="../views/Contacto.html">Contacto</a>
            </li>
            <li>
                <a href="../index.html#envio">Envios</a>
            </li>
        </ul>
    </nav>
    <img src="../img/hotsale.png" alt="" class="img__principal--medium  textCenter ">
    <header>
        <h1 class="bgLight textBold textCenter">Nuestro producto destacado del Mes</h1>
    </header>
    <main id="promo">
        <section class="destacado">
            <h2 class="bgLight textBold textCenter">Mes de Junio</h2>
            <article>
                <img src="../img/iphoneoferta.png" alt="" class="img__productos--md">
                <div>
                    <h3>I Phone X</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni aspernatur repudiandae, iusto quis pariatur, vero expedita esse, porro dignissimos soluta enim placeat. Aperiam libero deleniti numquam deserunt sapiente rem quibusdam!
                    Ipsa, facere illo assumenda provident reiciendis sit at fugiat nulla libero possimus corporis, molestiae ullam accusantium consectetur perferendis labore! Earum dignissimos est quam nostrum cum repudiandae reprehenderit dolorem numquam et.
                    Eos nihil placeat adipisci enim? Expedita voluptatum quasi officia earum et doloribus laudantium? Perferendis totam voluptas, quae, eos architecto quam impedit eligendi omnis ipsam explicabo, minima eveniet minus voluptatibus eum?</p>
                <a href="./productos.html" class="btnMed">Ver otros productos</a>
            </div>
            </article>
        </section>
        <section></section>
    </main>
    <br>
    <footer>
        <div class="bgLight textCenter">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/face.png" alt="">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/ig.png" alt="">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twi.png" alt="">
        </a>
        </div>
        </footer>
</body>
</html>